# GPG signature verification

Github published a blog post yesterday [GPG signature verification](https://github.com/blog/2144-gpg-signature-verification)


Steps to sign your commit :

  * Requirement use git version 2.0.0
  * Add your GPG key on [Personal settings - SSH and GPG keys](https://github.com/settings/keys)
  * Update your git configuration [Signing commits using GPG](https://help.github.com/articles/signing-commits-using-gpg/)
